<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.github.bubez81.bticino-hometouch</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/bticino-sniffer/python3</string>
        <string>/opt/bticino-sniffer/listener.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/opt/bticino-sniffer</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/opt/bticino-sniffer/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/opt/bticino-sniffer/stderr.log</string>
</dict>
</plist>
